
body {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100vh;
}

.logo {
    background: url('./images/logo.svg');
    height: 50px;
    width: 150px;
}

.logo:hover {
    background: url('./images/logo-hover.svg');
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation {
    display: flex;
}

.navigation > ul {
    display: flex;
    gap: 12px;
    list-style: none;
}

.navigation > ul > li > a {
    color: #000;
    text-decoration: none;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.footer {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
}

.recipe-hero {
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.recipe-hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe-hero-text > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.recipe-hero-text > h1 {
    text-decoration: underline #000;
    text-underline-offset: 12px;
}

.recipe-hero-text > button {
    align-self: baseline;
    margin-top: 8px;
    border: none;
    background-color: #014421;
    color: #fff;
    padding: 6px 12px;
    border-radius: 12px;
    font-size: 16px;
}

.recipe-hero-image {
    display: flex;
    flex-direction: column;
}